@model Root
@{
    ViewData["Title"] = "Home";
    var i = 1;
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    
</div>
<div class="container my-5">
    <h1 class="display-4">Room List</h1>
    <table class="table mt-4">
        <thead>
            <tr>
                <th>#</th>
                <th>room</th>
                <th>room number</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var room in Model.rooms)
            {
               <tr>
                    <td>
                        @i
                    </td>
                    <td>
                        @room.name
                    </td>
                    <td>
                        @room.number
                    </td>
                    <td>
                        <button class="btn btn-success">เลือก</button>
                    </td>
                    
                </tr>
                i+=1;
            }
        </tbody>
        
    </table>
</div>

